@font-face {
  font-family: Arcade;
  src: url(assets/fonts/ARCADECLASSIC.TTF);
}

*{
  box-sizing:border-box;
};

header {
  width:100%;
  display: flex;
  background-color: yellow;
}
body{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

main {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: stretch;
}

section {
font-size: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 16px;
border: 5px solid #001b44;
padding: 15px;
flex-basis: 30rem;
height: 400px;
width: 500px;

}

aside {
font-size: 15px;
display: flex;
justify-content: flex-start;
flex-direction: column;
margin: 16px;
border: 5px solid #001b44;
padding: 15px;
/* flex-basis: 10rem; */
height: 200px;
width:500px;
}

footer {
    display: block;
    text-align: center;
    font-size: small;
    margin-top: 1rem;
    padding: 3px;
    background-color: #7997ac;
    color: black;
    list-style-type: none;
  }

.brewery-card {
  color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  width: 100%;
  margin: 5% 0;
}
/* add scroll to searched deck  x,y*/
.breweries-container{
  height:340px;
  overflow-y:scroll;
  overflow-x:scroll;
  width: 100%;
  padding: 15px;
  margin: 5% 0;
  background: rgb(184, 213, 239);
  color: rgb(0, 0, 0);
}

/* #map {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid #001b44;

} */
.saved-brews{
  display: flex;
  flex-wrap: wrap;
  overflow-x:scroll;
}

.add-button{
  padding: 0.5rem;
  font-size:1rem;
  color:black;
  background: white;
  cursor:pointer;
  transition: all 0.3s ease;
  border-radius: 0.7em;
}


.add-button:hover{
  background:#98e3a8;
  color:white;
}



.add-button:focus{
background-color: green;
color: #c6d1d8;
}

.delete-button{
  padding: 0.5rem;
  font-size:1rem;
  color:black;
  background: white;
  cursor:pointer;
  transition: all 0.3s ease;
  border-radius: 0.7em;
}


.delete-button:hover{
  background:#e6564c;
  color:white;
}



.topbar-responsive {
  font-size: 30px;
  text-align: center;
  background: #2c3840;
  padding: 1rem 1.5rem;
  width: 100%;
}

ul.menu.simple.vertical.medium-horizontal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.topbar-responsive .topbar-responsive-logo {
  font-family: Arcade;
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}




 @media screen and (max-width: 6000px) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}
ul.menu.simple.vertical.medium-horizontal {
  list-style-type: none;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: rgba(0,0,0,.8);
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  margin: 10px;
}



.brewery-card {
background: rgb(255, 243, 199);
color: rgb(0, 0, 0);
width: 85%;
;}

@media screen and (max-width: 900px) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 680px) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
} 

.marker {
  background-image: url('assets/clipart659802.png');
  background-size: cover;
  width: 50px;
  height: 60px;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}


.mapboxgl-canvas {
  display: flex;
}

.list-no-bullets {
    display: block;
    text-align: center;
    font-size: small;
    margin-top: 1rem;
    padding: 3px;
    background-color: #7997ac;
    color: black;
    list-style-type: none;
}